rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global Safety Net (Allow read/write to support server REST API integration)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
